@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    min-height: 93vh;
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif; 
    letter-spacing: 1.5px;
}
    
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg,#38419D, #3887BE, #52D3D8 ); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    position: relative; 
}


.logo-container {
    display: flex;
    align-items: center;
    animation: fadeInLeft 1s ease; 
    margin-left: 50px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px; 
}

.logo-container span {
    font-weight: bold;
    font-size: 24px; 
    color: #fff; 
}

nav {
    display: flex;
    align-items: center;
    animation: fadeInRight 1s ease; 
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul {
    margin-right: 20px;
}

nav li {
    display: inline-block;
    background-color: transparent; 
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px; 
    animation: fadeIn 1s ease; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold; 
    transition: color 0.3s;
}

nav a:hover {
    color: #050505; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
    text-align: center;
    color: #333;
}
h2 {
    color: #333;
}
p {
    color: #333;
    line-height: 1.6;
}
ul {
    list-style-type: disc;
    padding-left: 20px;
}
section {
    margin-bottom: 30px;
}
section h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #464545;
    padding-bottom: 5px;
}
