@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
    letter-spacing: 1.5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: linear-gradient(135deg,#38419D, #3887BE, #52D3D8 );
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo-container {
    display: flex;
    align-items: center;
    animation: fadeInLeft 1s ease;
    margin-left: 50px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
}

.logo-container span {
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    animation: fadeInRight 1s ease;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul {
    margin-right: 20px;
}

nav li {
    display: inline-block;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #050505;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: flex-start;
    /*height: 88vh;*/
}

.main-container p {
    margin-top: 20px;
}

.file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.result-image {
    height: 400px;
    width: auto;

}


.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    margin: 20px;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-inline: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-inline: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-button:hover {
    background-color: #0056b3;
}


.upload-button {
    background-color: rgb(102, 179, 102);
    padding: 5px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
}

.upload-button:hover {
    background-color: rgb(70, 141, 70);
    text-decoration: none;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .file-container, .table-container {
        flex: 100%;
    }
}
